@media screen and (min-width: 1200px) {
    .login-page {
        background-color: rgb(255, 255, 255, 255);
        height: 100vh;
        width: 100vw;
    }
    .login-page .img{
        background-image: url("../../Imgs/ineklogin.jpg");
        background-size: cover;

    }
    .login-page .login-actions{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
     .login-page .login-button{
        background-color: #DC851F !important;
        color: white !important;
        border-radius: 5px !important;
        margin-left: 52% !important;
    }
    body{
        overflow: hidden;
    }
    .login-page .inputfield.custom-input.ant-input {
        background-color: white !important;
        color: black;
    }
    .custom-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: normal;
        white-space: nowrap;
        margin-left: 60%;
    }
}
