.custom-selected-item.selected {
    background-color: transparent !important;
    border: 2px solid whitesmoke !important;
}

.custom-selected-item:not(.selected) {
    background-color: transparent !important;
}

